Java/Desktop/StandardRoboticsLibrary/nbproject/private/
Java/Desktop/StandardRoboticsLibrary/build/
*.xml
*.properties
*.xml
*.properties

*.filters
*.user
*.sln
*.obj
*.idb
*.recipe
*.pdb
*.sarif
*.tlog
*.tlog/
*.vs/
C++/Windows/VirtualArudino/x64/Debug/
C++/Windows/WinSRL/x64/Debug/
C++/Windows/WinSRL/x64/Release/WinSRL.log
C++/Windows/VirtualArudino/x64/Release/VirtualArudino.log
